body,
dl,
dt,
dd,
p,
table,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-size: 25px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.comWidth {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style: none;
}

.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.comMarginTop {
  margin-top: 30px;
}
